* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d4cece;
    background-image: url(images/cyberpunk-street-files/PNG/cyberpunk-street.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    color: #d4cece;
}

/* header */
h1 {
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.input{
    max-width: 40%;
    margin: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50;
    text-align: center;
}

/* displaybar */
.displayBar{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}
.displayIndex{
    margin: 0 5%;
}

.nes-progress{
    max-width: 75%;
    width: 150px;
}

/* tomagotchi */

span{
    font-size: 3rem;
}

#nameIdDiv{
    display:none;
}

.sectionGameUnit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100vw;
    height: 90vh;
}

.image_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 1s ease-in-out;
}

.endGame{
    position: absolute;
    align-items: center;
    justify-content: center;
}

#win {
    width: 600px;
}

.anima{
    animation: leftAndRight linear 3s infinite;
}
.egg {
    animation-name            : fade      , shrink    ;
    animation-duration        : 0.5s      , 0.53s     ;
    animation-iteration-count : infinite  , infinite  ;
    animation-direction       : alternate , alternate ;
    width: 20%;
}

/* modal */
.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* p{
    animation: type 3s steps(433);
    overflow: hidden;
    white-space: nowrap;
    width: 433;
}
@keyframes type {
    0%{
        width: 0ch;
    }
    100%{
        width: 433ch;
    }
} */


/* activeButtons */
.bottom{
    bottom: 3%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.nes-btn{
    font-family: 'Press Start 2P', cursive;
}


/* preGame */

.hidden {
    display: none;
}

/* animations */


@keyframes fade {
    from { opacity   : 1; }
    to   { opacity   : 0.25; }
}
@keyframes shrink {
    from { transform : scale(1); }
    to   { transform : scale(0.75); }
}

@keyframes leftAndRight {
    0% {
    transform: translateX(200px) ;
    }
    49% {
    transform: translateX(-200px) ;
    }
        50% {
    transform: translateX(-200px);
    }
    100% {
    transform: translateX(200px);
    }
}    
