* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d4cece;
    background-image: url(images/cyberpunk-street-files/PNG/cyberpunk-street.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    color: #d4cece;
}

/* header */
h1 {
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

.input{
    max-width: 40%;
    margin: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50;
    text-align: center;
}

/* displaybar */
.displayBar{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}
.displayIndex{
    margin: 0 5%;
}

.nes-progress{
    max-width: 75%;
    width: 150px;
}

/* tomagotchi */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100vw;
    height: 90vh;
}

#nameIdDiv{
    display:none;
}

.image_Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.endGame{
    position: absolute;
    align-items: center;
    justify-content: center;
}

/* activeButtons */
.bottom{
    bottom: 3%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.nes-btn{
    font-family: 'Press Start 2P', cursive;
}

/* preGame */

.hidden {
    display: none;
}